{% extends 'base.html' %}

{% block content %}
<div class="container-add">
    <h2>Add Vocabulary</h2>
    <form action="">
        <div class="form-group">
            <label><h3>Tiếng Anh:</h3></label>
            <input class="form-control" id="tienganh" >
            <label><h3>Tiếng Việt:</h3></label>
            <input class="form-control" id="tiengviet">
            <button type="button" class="btn1 btn-outline-primary btn-lg">Add</button>
        </div>
        
    </form>
    
</div>

{% endblock %}