{% extends 'base.html' %}

{% block content %}
<div class="container-add">
    <div>
        <form action="/revision", method="post">
            <div class="form-group">
                {{ formCount.csrf_token }}
                <h3>From Number: </h3>
                {{formCount.fromNum(class="form-control") }}
                <h3>To Number: </h3>
                {{formCount.toNum(class="form-control") }}
                {{formCount.submit(class="btn1 btn-outline-primary btn-lg")}}
            </div>
        </form>
    </div>
</div>
{% endblock %}